*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      font-family: "Jaro", sans-serif;
      font-weight: 400;
}    

.header_block {
    background-color: aqua;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1240px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu_content {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.menu_content li {
    padding: 20px;
}

/*This is a banner block*/

.banner {
    background: url(images/bg.webp) 0 0 no-repeat;
    background-size: cover;
}

.banner_title {
    color: #fff;
    font-size: 56px;
}

.banner_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
    gap: 25px;
}

.banner_btn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: blue;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    
}

.the_space_is_closer_than_we_may_think{
    background-color: aquamarine;
    padding: 80px 0;
}

.space_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.the_space_is_closer {
    
    padding: 20px;
}

/* .video_from_Mars{
    padding: 20px;
} */

.Mars_video {
    border-radius: 25px;
}

/*cards block start*/

.cards_block{
    background-color: burlywood;
    padding: 80px 0;
}
.cards_block_wrapper{
    display: flex;
    gap: 30px;
}
.planets_resize{
    object-fit: cover;
    height: 386px;
    width: 386px;
    border-radius: 25px;
}
.cards_title{
    text-align: center;
    margin-bottom: 20px;
}

.cards_text{
    margin-top: 20px;
    text-align: center;
    }
.item img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding-bottom: 15px;
}
.carousel_item_title{
    text-align: center;
    font-size: 25px;
}
.carousel{
    padding: 80px 0;
}
.carousel_main_title{
    text-align: center;
    font-size: 46px;
    padding-bottom: 20px;
}
.about_nasa_title{
    text-align: center;
    font-size: 46px;
    padding-bottom: 40px;
   
}
.about_nasa{
    background-color: bisque;
    padding-top: 80px;
}
.about_nasa_image{
    width: 597px;
    height: 420px;
}
.about_nasa_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 90px;
}
.about_nasa_text_title{
    text-align: center;
    padding-bottom: 20px;
}
.about_nasa_text_content{
    text-align: justify;
    
}
.carousel_subtitle{
    text-align: center;
    padding-bottom: 30px;
    color: rgb(90, 86, 86);
}





