*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_block {
    background-color: aqua;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.header_elements {
    max-width: 1240px;
    margin: 0 auto;
}

.menu_content {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.menu_content li {
    padding: 20px;
}









